/** @format */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0f2129;
  background: -webkit-linear-gradient(#0f2129, #47334a);
  background: -o-linear-gradient(#0f2129, #47334a);
  background: -moz-linear-gradient(#0f2129, #47334a);
  background: linear-gradient(#0f2129, #47334a);
}

.night_bg {
  background: #0f2129;
  background: -webkit-linear-gradient(#0f2129, #47334a);
  background: -o-linear-gradient(#0f2129, #47334a);
  background: -moz-linear-gradient(#0f2129, #47334a);
  background: linear-gradient(#0f2129, #47334a);
}

.frosty_bg {
  background: #29386f;
  background: -webkit-linear-gradient(#29386f, #b8f5ff);
  background: -o-linear-gradient(#29386f, #b8f5ff);
  background: -moz-linear-gradient(#29386f, #b8f5ff);
  background: linear-gradient(#29386f, #b8f5ff);
}
.sunny_bg {
  background: #ffbd3f;
  background: -webkit-linear-gradient(#ffbd3f, #fff097);
  background: -o-linear-gradient(#ffbd3f, #fff097);
  background: -moz-linear-gradient(#ffbd3f, #fff097);
  background: linear-gradient(#ffbd3f, #fff097);
}

.weather {
  .container {
    width: 100%;
    // max-width: 350px;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.weather-card {
  .card {
    bottom: 0px;
    max-height: 500px !important;
    box-sizing: content-box !important;
    margin: 0 0.5% !important;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      background: inherit;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
      filter: blur(10px);
      margin: -20px;
    }
  }

  .weather {
    max-height: 96px;
  }

  .image {
    max-height: 96px !important;
    max-width: 96px !important;
    margin: auto !important;
  }

  @media (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
    .image {
      width: 50%;
    }
  }
}
