/** @format */

.header {
  display: flex;
  flex-direction: row-reverse;
  color: white;
  background-color: #202d5a;
  height: 80px;
  align-items: center;

  .container {
    margin: 0 20px;

    .wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 12px;
      background: rgba(129, 206, 238, 0.2);
      border-radius: 6px;
      cursor: pointer;

      &:hover {
        background: rgba(129, 206, 238, 0.4);
      }
      .city-name {
        padding-right: 10px;
        font-style: normal;
        font-weight: 500;
        text-align: right;
      }
    }
  }
}
